body {
    background: #BA8B02;
    background: -webkit-linear-gradient(to right, #181818, #BA8B02);
    background: linear-gradient(to right, #181818, #BA8B02); 
}

section {
    background-color: #212121;
    width: 400px;
    height: 35vh;
    margin: 70px auto 0;
    color: #fff;
    padding: 25px 0 0 0;
    text-align: center;
    border-radius: 7px;
    border: 3px solid #000000;
}
#guess {
    color: #fff;
    text-decoration: none;
    transition: all 0.5s;
    background-color: #E0B431;
    padding: 7px;
    border-radius:4px;
    font-weight: bold;
}
#guess:hover {
    background-color: #fff;
    color: #000000;
    border: 3px solid #E0B431;
    font-weight: bold;
}
#myGuess {
    width: 50px;
    margin-right: 10px;
    font-size:15px;
    text-align:center;
    letter-spacing: 2px;
    padding:3px;
    border: 3px solid #000000;
    border-radius:4px;
    background: #FFFFFF;
    color:#000000;
    border:none;
}
